<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>
        <%= article.title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="card">
        <h1>
            <%= article.title %>
        </h1>
        <p><strong>ID:</strong>
            <%= article.id %>
        </p>
        <p>
            <%= article.content %>
        </p>
        <br>
        <a href="/articles">⬅ Назад до списку</a>
    </div>
</body>

</html>