<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>Список статей</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body>
    <h1>Список статей (EJS)</h1>
    <ul>
        <% articles.forEach(function(article) { %>
            <li>
                <a href="/articles/<%= article.id %>">
                    <%= article.title %>
                </a>
            </li>
            <% }); %>
    </ul>
</body>

</html>